<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835782499183-vsuvbjjmdknitphcama174cbrilp3h4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835782499183-vsuvbjjmdknitphcama174cbrilp3h4h</string>
	<key>API_KEY</key>
	<string>AIzaSyABvPsLEzXDopk_6D133fEbmECJQsQ-WHY</string>
	<key>GCM_SENDER_ID</key>
	<string>835782499183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizzed</string>
	<key>PROJECT_ID</key>
	<string>quizzedgame</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzedgame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835782499183:ios:324e8ced3a6ac0ec2fe69a</string>
	<key>DATABASE_URL</key>
	<string>https://quizzedgame.firebaseio.com</string>
</dict>
</plist>